<div class="row">
    <div class="col-md-3">
        <b>Discount Type:</b>
    </div>
    <div
        class="col-md-4"
        ng-if="!$ctrl.isEdited"
    >
        {{$ctrl.customerDiscount.discountName}}
    </div>
    <div
        class="col-md-4"
        ng-if="$ctrl.isEdited"
    >
        <select
            class="form-control"
            id="inputDiscountType"
            data-ng-options="discount as discount.discountName for discount in $ctrl.discounts"
            data-ng-model="$ctrl.selectedDiscount"
        >
        </select>
    </div>
    <div class="col-md-2 end">
        <button
            class='btn btn-primary btn-sm nopadding'
            ng-if="!$ctrl.isEdited"
            data-ng-click="$ctrl.edit()"
        >Edit</button>
        <button
            class='btn btn-primary btn-sm nopadding'
            ng-if="$ctrl.isEdited"
            data-ng-click="$ctrl.save()"
        >Save</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <b>Discount Percent:</b>
    </div>
    <div class="col-md-4 end">
        {{$ctrl.customerDiscount.discountPercent}}%
    </div>
</div>