<div class="row">
    <div class="col-md-3">
        <b>Discount Type:</b>
    </div>
    <div
        class="col-md-4"
        *ngIf="!isEdited"
    >
        {{customerDiscount.discountName}}
    </div>
    <div
        class="col-md-4"
        *ngIf="isEdited"
    >
        <select
            class="form-control"
            id="inputDiscountType"
            [(ngModel)]="selectedDiscount"
        >
            <option
                *ngFor="let discount of discounts"
                [ngValue]="discount"
            >{{discount.discountName}}</option>
        </select>
    </div>
    <div class="col-md-2 end">
        <button
            class='btn btn-primary btn-sm nopadding'
            *ngIf="!isEdited"
            (click)="edit()"
        >Edit</button>
        <button
            class='btn btn-primary btn-sm nopadding'
            *ngIf="isEdited"
            (click)="save()"
        >Save</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <b>Discount Percent:</b>
    </div>
    <div class="col-md-4 end">
        {{customerDiscount.discountPercent}}%
    </div>
</div>